    .navbar {
        z-index: 2;

        overflow: hidden;
        background-color: #626262;
        position: sticky;
        top: 0px;
        filter: drop-shadow(0px 0px 1px #363636);
    }
    html {
        scroll-behavior: smooth;
    }
    .selected {
        float: left;
        padding: 20px 20px;
        color: #363636;
        display: block;
        text-align: center;
        filter: drop-shadow(4px 4px 3px #363636);
        text-decoration:none


    }

    .tobe {
        float: left;
        padding: 20px 20px;
        color: #fff;
        display: block;
        text-align: center;
        filter: drop-shadow(4px 4px 3px #363636);
        text-decoration:none;

    }



    .tobe:hover {
        background-color: #626262;
        transition: all 0.3s ease-in-out;
    }

    .header {
        display: block;
        text-align: center;
        font-size: 40px;
        padding: 1px;
        margin-top: -10px;
        color: #fff;
        background-image: url('../IMG/Space.png');
        background-size: cover;
        background-repeat: no-repeat;

    }

    .header h1 {
        filter: drop-shadow(4px 4px 1px #363636);
    }

    body {
        position: relative;
        background-color: #f3f6ff;
        margin: 0;
    }

    .container,
    .container2,
    .socials {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.25em;
        background-color: #f3f6ff;
        text-align: center;
        letter-spacing: 1px;

    }

    .container {
        margin: 20%;
        margin-top: -2%;
        margin-bottom: 8%;
    }

    .container2 {
        font-size: 1.25em;
        margin: 0%;
        margin-top: 0%;
        margin-bottom: -100%;
        background-color: #626262;
        color: #f3f6ff;
    }

    .socials {
        font-size: 1.25em;
        margin: 20%;
        margin-top: 100%;
        margin-bottom: 10%;
    }


    .aboutdesc {
        padding-left: 8%;
        padding-right: 8%;
        color: #585a61;
        letter-spacing: 1px;
    }

    .aboutme {
        padding-top: 4%;
        margin-top: 100px;
        width: 200px;
    }

    .twitch {
        filter: drop-shadow(4px 4px 1px #363636);
        position: relative;
        right: 300px;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .calendar {
        filter: drop-shadow(4px 4px 1px #363636);
        position: relative;
        border: 2px solid #fff;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .twitchdesc {
        position: absolute;
        right: 90px;
        margin-left: 55%;
        margin-right: 15%;
        margin-top: 7%;
    }

    .link-btn {
        border: 2px solid #363636;
        background-color: rgba(47, 50, 67, .75);
        border-radius: 25px;
        padding: 6px 18px;
        color: #f3f6ff;
        transition: all .1s ease-in-out;
        text-decoration: none
    }

    .link-btn:hover {
        cursor: pointer
    }

    .link-btn:focus,
    .link-btn:hover {
        background-color: #363636
    }

    .socialimg {
        padding-top: 4%;
        margin-top: 100px;
        width: 200px;
    }

    .socialdesc {
        padding-left: 8%;
        padding-right: 8%;
        color: #363636;
        letter-spacing: 1px;
    }

    .link-wrap[data-v-1c2855b0] {
        display: inline-block;
        padding: 12px;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        margin: 12px;
        transition: all 0.1s ease-in-out;
    }

    .link-wrap label[data-v-1c2855b0] {
        color: #585a61;
        transition: all 0.1s ease-in-out;
    }

    .link-wrap span[data-v-1c2855b0] {
        display: block;
        color: #626262;
        margin-top: 2px;
    }

    .link-wrap[data-v-1c2855b0]:hover,
    .link-wrap[data-v-1c2855b0]:focus {
        background-color: #626262;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .link-wrap:hover label[data-v-1c2855b0],
    .link-wrap:hover span[data-v-1c2855b0],
    .link-wrap:focus label[data-v-1c2855b0],
    .link-wrap:focus span[data-v-1c2855b0] {
        color: #f3f6ff;
    }

    .link-wrap:hover .icon[data-v-1c2855b0],
    .link-wrap:focus .icon[data-v-1c2855b0] {
        fill: #f3f6ff;
    }
